@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 220, 98%, 61%;
  --check-background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  --background: #FAFAFA;
  --card-background: #FFFFFF;

  --text-disabled: #D1D2DA;

  --text-light: #9495A5;

  --text: #494C6B;

  --text-link-active: #3A7CFD;
}

.dark{
  --background: #171823;
  --card-background: #25273D;

  --text-disabled: #4D5067;

  --text-light: #767992;

  --text: #C8CBE7;
}

html,body{
  min-height: 100vh;
}

body{
  background-color: var(--background);
  color: var(--text);
}